<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.pizzamaster.12121212"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>BattleShip ONLINE</name>

  <description>
     battleship but is online
  </description>

  <author href="ylfs.blogspot.com" email="eqaanonline@gmail.com">
      Little Fish Studio APPS
  </author>

</widget>
